
!.mvn/wrapper/maven-wrapper.jar
# BlueJ files
# Branch switching
# Compiled class file
# Eclipse
# IntelliJ IDEA
# Jenv
# Log file
# Maven
# Mobile Tools for Java (J2ME)
# Package Files #
# Visual Studio Code
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
**/.DS_Store
*.class
*.ctxt
*.ear
*.env
*.iml
*.jar
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
.classpath
.env
.factorypath
.idea
.java-version
.mtj.tmp/
.project
.settings/
generated/
hs_err_pid*
replay_pid*
target/
